<div class="row">
	<div class="span12 columns">
	<h2><%= @project.name %></h2>	
		
	<% form_for [ @project, @page ] do |form| %>
		<fieldset>
			<legend>Edit Page</legend>
			<%= render :partial => form %>
	
			<div class="actions">
				<%= form.submit 'Save', :class => 'btn primary' %>
				<%= link_to 'Cancel', project_path(@project), :class => 'btn' %>
			</div>
	<% end %>
	</div>
	
	<div class="span4 columns">
		
		<table class="zebra-striped">
			<thead>
				<tr>
					<th>Old Versions</th>
					<th>
						<%= link_to 'show all', '#', :class => 'btn small show_all_btn' %>
					</th>
				</tr>
			</thead>
			<tbody class="edit_history">
			<% @page.content_versions.each do |v| %>
			<tr class="<%= 'deleted' if v.deleted? %>">
				<td>
					<% if @page.current_version != v %>
					<%= link_to time_ago_in_words(v.created_at), project_page_content_version_path(@project, @page, v), :method => :put, :class => 'btn small', :title => v.created_at %>
					<% else %>
					<span class="btn small primary"><%= time_ago_in_words v.created_at %></span>
					<% end %>
					<%= '*' if v.currently_published? %>
				</td>
				<td>
					<% if @page.current_version != v %>
					<%= link_to 'x', project_page_content_version_path(@project, @page, v), :method => :delete, :class => 'btn small confirm'%>
					<% else %>
					&nbsp;
					<!-- there should be a button here... but there's not. -->
					<% end %>
				</td>
			</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>