<% extra_head do %>
<script src="/javascripts/ace/build/src/mode-css.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/ace/build/src/mode-javascript.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
	$(function() {
		var editor_field = $('.editor');
		editor_field.attr('id', 'editor_5');
		var editor = ace.edit(editor_field.attr('id'));
		
		var CssMode = require("ace/mode/javascript").Mode;
		editor.getSession().setMode(new CssMode());
	});
</script>
<% end %>

<div class="row">
	<div class="span8 columns">


			<% form_for @project do |form| %>
				<fieldset>
					<legend>Edit Project</legend>
					<%= render :partial => form %>
	
					<div class="actions">
						<%= form.submit 'Save', :class => 'btn primary' %>
						[ reset ]
					</div>
				</fieldset>
			<% end %>
	</div>
	<div class="span8 columns">
	
			<table class="zebra-striped">
				<thead>
					<tr>
						<th>Navigation Items</th>
						<th colspan="3" style="text-align: right;">
							<%= link_to '+ new', new_project_nav_item_path(@project), :class => 'btn small' %>
						</th>
					</tr>
				</thead>
				<tbody>
					<% @project.nav_items.each do |nav_item| %>
					<tr>
						<td>
							<%= link_to nav_item.label, edit_project_nav_item_path(@project, nav_item) %>
							<em><%= nav_item.url %></em>
						</td>
						<td>
							<%= link_to 'edit', edit_project_nav_item_path(@project, nav_item), :class => 'btn primary small' %>
						</td>
						<td>
							<%= link_to raw('go &rarr;'), nav_item_url(nav_item), :class => 'btn small', :target => '_blank' %>
						</td>
						<td>
							<%= link_to 'x', project_nav_item_path(@project, nav_item), :confirm => "Are you sure that you want to delete the '#{nav_item.label}' Navigation Item?", :method => 'delete', :class => 'btn confirm small' %>
						</td>
					</tr>
					<% end %>
				</tbody>
				
				<thead>
					<tr>
						<th>Pages</th>
						<th colspan="3" style="text-align: right;">
							<%= link_to '+ new', new_project_page_path(@project), :class => 'btn small' %>
						</th>
					</tr>
				</thead>	
				<tbody>
				<% @project.pages.each do |page| %>
				<tr>
					<td>
						<%= link_to page.title, edit_project_page_path(@project, page) %>
					</td>
					<td>
						<%= link_to 'edit', edit_project_page_path(@project, page), :class => 'btn primary small' %>
					</td>
					<td>
						<%= link_to 'preview', project_page_path(@project, page), :class => 'btn small', :target => '_blank' %>
					</td>
					<td>
						<%= link_to 'x', project_page_path(@project, page), :confirm => "Are you sure that you want to delete the '#{page.title}' Page?", :class => 'btn confirm small'%>
					</td>
				</tr>
				<% end %>
				</tbody>
				
				<thead>
					<tr>
						<th>News Tags</th>
						<th colspan="3" style="text-align: right;">
							
						</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>


	</div>
</div>