<h2>Projects</h2>

<div>
	<%= link_to '+ new', new_project_path, :class => 'btn' %>
</div>

<table class="zebra-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Project Name</th>
			<th>Pages</th>
			<th>Nav Items</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% @projects.each_with_index do |project, i| %>
		<tr>
			<td>
				<%= i+1 %>
			</td>
			<td>
				<%= link_to project.name, edit_project_path(project) %>
			</td>
			<td>
				<%= project.pages.count %>
			</td>
			<td>
				<%= project.nav_items.count %>
			</td>
			<td>
				<%= link_to 'edit', edit_project_path(project), :class => 'btn' %>
				<%= link_to 'preview', project_path(project), :class => 'btn' %>
			</td>
			<td>
				<%= link_to 'x', project_path(project), :confirm => "Are you sure that you want to delete the '#{project.name}' Project?", :class => 'btn confirm'%>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>