<!DOCTYPE html>
<html>
<head>
  <title>Sadistech Admin</title>

	<%= javascript_include_tag :defaults %>
	
  <%= stylesheet_link_tag 'sadistech_admin' %>

  <%= csrf_meta_tag %>
</head>
<body>
<h1>Sadistech</h1>

<% unless flash[:notice].nil? %>
<div id="flash_notice"><%= flash[:notice] %></div>
<% end %>

<%= yield %>

</body>
</html>
