<!DOCTYPE html>
<html>
<head>
  <title><%= @project.name %> :: <%= @page.title %></title>
  <%= stylesheet_link_tag 'pages.css' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1><%= @project.name %></h1>

<ul id="navigation">
	<% @project.nav_items.each do |nav_item| %>
	<li>
		<%= link_to nav_item.label, nav_item.url %>
	</li>
	<% end %>
</ul>

<div id="content">
	<%= yield %>
</div>

<div id="footer">
	<%= raw @project.footer %>
</div>

</body>
</html>
